<template>
	<div class="home">
		<div class="search_form">
			<div>
				<input
					id="where"
					type="text"
					placeholder="npr. bb8, maze ..."
					v-model="keyword"
				/>
				<button v-on:click="getFilmovi" class="btn-primary">
					Pretraži
				</button>
			</div>
			<img src="../assets/HOMEFLIX_logo.png" width="256rem" />
		</div>
		<div class="viewWindow">
			<stream
				v-if="watching"
				v-on:zatvori="close"
				v-bind:movie="currentId"
			></stream>
		</div>
		<thumbnail
			v-on:start-stream="watch"
			v-on:refresh="fetchMovies"
			v-bind:key="film.id"
			v-for="film in filmovi"
			v-bind:movie="film"
		></thumbnail>
	</div>
</template>

<script>
	import Thumbnail from "../components/Thumbnail.vue";
	import Stream from "../components/Stream.vue";
	export default {
		name: "Search",
		components: {
			Stream,
			Thumbnail,
		},
		data() {
			return {
				watching: false,
				currentId: null,
				keyword: "",
				filmovi: [],
			};
		},
		methods: {
			getFilmovi() {
				fetch(`/movies?where=${document.querySelector("#where").value}`)
					.then((res) => res.json())
					.then((data) => {
						console.log(data);
						this.filmovi = data;
					})
					.catch((err) => console.error(err));
			},
			watch(id) {
				this.currentId = id;
				this.watching = true;
				// console.log("Clicked" + id);
			},
			close() {
				this.watching = false;
				this.currentId = null;
				// console.log("zatvaram");
			},
			fetchMovies() {
				this.filmovi = [];
				console.log(window.localStorage.getItem("user"));
				let url = "/movies";
				// console.log(url);
				fetch(url)
					.then((res) => res.json())
					.then((data) => {
						console.log(data);
						this.filmovi = data;
					})
					.catch((err) => console.error(err));
			},
		},
		mounted() {
			if (window.localStorage.getItem("user")) {
				this.fetchMovies();
			}
		},
	};
</script>

<style>
	.viewWindow {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.home {
		display: flex;
		flex-wrap: wrap;
	}
	.search_form {
		width: 100%;
		background-color: var(--bg-primary);
		padding: 2rem;
		border-radius: 1rem;
		box-shadow: 1rem 1rem 2rem #00000088;
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	input,
	textarea {
		padding: 1rem;
		border: none;
		border-radius: 1rem;
		background-color: #4f4f4f;
		color: white;
	}
	input:focus,
	textarea:focus {
		background-color: #5f5f5f;
		outline: none;
	}
	.btn-primary {
		border: 2px solid var(--accent);
		border-radius: 1rem;
		padding: 1rem;
		background-color: var(--bg-primary);
		margin: 1rem 0;
		color: white;
	}
	.btn-primary:hover {
		background-color: var(--accent);
		color: black;
	}
	.btn-primary:focus {
		outline: none;
	}
	@media only screen and (min-width: 600px) {
		.search_form {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
		}
		.btn-primary {
			margin: 0 1rem;
		}
		.result {
			justify-content: left;
		}
	}
</style>
