<template>
	<div id="login">
		<h1>Tko gleda?</h1>
		<div class="users">
			<user
				class="singleUser"
				v-on:loginUser="passLogin"
				v-bind:key="user.id"
				v-for="user in users"
				v-bind:kor="user"
			/>
		</div>
		<div class="register">
			<h4 style="text-align: center;">Registriraj novog korisnika</h4>
			<form id="registerForm" v-on:submit.prevent="register">
				<input type="text" name="name" placeholder="Ime" />
				<input type="submit" value="Registriraj" />
			</form>
		</div>
	</div>
</template>

<script>
	import User from "./User";
	export default {
		name: "Login",
		components: {
			User,
		},
		data() {
			return {
				users: [],
			};
		},
		methods: {
			passLogin(user) {
				this.$emit("get_login", user);
			},
			register() {
				const form = document.querySelector("#registerForm");
				let formData = new FormData(form);
				var data = {};
				formData.forEach(function(value, key) {
					data[key] = value;
				});
				fetch("/users", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify(data),
				})
					.then((res) => res.json())
					.then((data) => {
						console.log(data);
						fetch("/users")
							.then((res) => res.json())
							.then((data) => {
								if (Object.keys(data).length == 0) {
									this.$emit("get_login", {
										id: 0,
										name: "DefaultKorisnik",
									});
								} else {
									this.users = data;
								}
							});
						form.reset();
					});
			},
		},
		mounted() {
			fetch("/users")
				.then((res) => res.json())
				.then((data) => {
					if (Object.keys(data).length == 0) {
						// this.$emit("get_login", {
						// 	id: 0,
						// 	name: "DefaultKorisnik",
						// });
					} else {
						this.users = data;
					}
				});
		},
	};
</script>

<style>
	#login {
		margin: 0;
		padding: 0;
		position: absolute;
		z-index: 20;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: black;
	}
	.register {
		margin-top: 3rem;
	}
	#registerForm {
		display: flex;
		flex-direction: column;
	}
	.users {
		display: flex;
		justify-content: center;
	}
</style>
