<template>
	<div class="card">
		<div class="thumb">
			<img
				width="100%"
				height="100%"
				:src="getImgUrl"
				:alt="movie.name"
			/>
		</div>
		<div class="content">
			<h3 class="title">{{ movie.name }}</h3>
			<button class="btn" v-on:click="start">Pogledaj</button>
			<button class="btn" v-if="!fav" v-on:click="dodajFavorita">
				Dodaj u favorite
			</button>
			<button class="btn" v-if="fav" v-on:click="makniFavorita">
				Ukloni iz favorita
			</button>
		</div>
	</div>
</template>

<script>
	export default {
		name: "Thumbnail",
		props: ["movie"],
		data() {
			return {
				fav: false,
			};
		},
		computed: {
			getImgUrl() {
				return (
					"http://" +
					window.location.host +
					"/static/" +
					this.movie.img
				);
			},
		},
		mounted() {
			fetch(
				`/favorites?user_id=${window.localStorage.getItem(
					"user"
				)}&movie_id=${this.movie.id}`
			)
				.then((res) => res.json())
				.then((data) => {
					if (data[0]) {
						this.fav = true;
					}
				});
		},
		methods: {
			start() {
				this.$emit("start-stream", this.movie);
			},
			dodajFavorita() {
				console.log(window.localStorage.getItem("user"));
				fetch("/favorites", {
					method: "POST",
					body: JSON.stringify({
						user_id: window.localStorage.getItem("user"),
						movie_id: this.movie.id,
					}),
					headers: {
						"Content-Type": "application/json",
					},
				})
					.then((res) => res.json())
					.then((data) => {
						alert(data.message);
						this.$emit("refresh");
					});
			},
			makniFavorita() {
				fetch("/favorites/delete", {
					method: "POST",
					body: JSON.stringify({
						user_id: window.localStorage.getItem("user"),
						movie_id: this.movie.id,
					}),
					headers: {
						"Content-Type": "application/json",
					},
				})
					.then((res) => res.json())
					.then((data) => {
						alert(data.message);
						this.$emit("refresh");
					});
			},
		},
	};
</script>

<style>
	@media only screen and (min-width: 600px) {
		.card {
			width: 16vw;
			height: 24vw;
			margin: 1vw;
			background-color: #020202;
			color: #eee;
			position: relative;
			transition: 0.3s ease-in-out;
			border-radius: 1rem;
		}
		.card:hover .content {
			opacity: 1;
			transition: 0.3s ease-in-out;
			background-color: #02020288;
		}
		.content {
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			top: 0px;
			height: 100%;
			width: 100%;
			font-size: 2rem;
			opacity: 0;
			transition: 0.3s ease-in-out;
			background-color: #02020288;
		}
	}
	@media only screen and (max-width: 600px) {
		.card {
			width: 18rem;
			height: 27rem;
			margin: 2px;
			background-color: #020202;
			color: #eee;
			position: relative;
			transition: 0.3s ease-in-out;
		}
		.content {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			top: 0px;
			height: 100%;
			width: 100%;
			font-size: 1rem;
			background-color: #02020288;
		}
	}
	.title {
		text-align: center;
	}
	.thumb {
		width: 100%;
		height: 100%;
		border-radius: 1rem;
	}
	.btn {
		margin: 1rem;
		cursor: pointer;
	}
</style>
