<template>
  <div
    v-on:click="user_login"
    class="userView"
    v-bind:style="`background-color:${colors[kor.id%3]};`"
  >
    <h2 class="name">{{ kor.name }}</h2>
  </div>
</template>

<script>
export default {
  name: "User",
  props: ["kor"],
  methods: {
    user_login() {
      this.$emit("loginUser", this.kor);
    }
  },
  data() {
    return {
      colors: ["#6af", "#4f4", "#f74"]
    };
  }
};
</script>

<style>
.userView {
  width: 15rem;
  height: 8rem;
  margin: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 200ms ease-in-out;
  cursor: pointer;
}
.userView:hover {
  box-shadow: 0 0 3rem rgba(255, 255, 255, 0.5);
  transition: 200ms ease-in-out;
}
.name {
  text-align: center;
  color: black;
}
</style>