<template>
	<div>
		<login v-if="!logged_in_user" v-on:get_login="loginUser" />
		<navbar />
		<div id="app">
			<router-view ref="childComponent" />
		</div>
	</div>
</template>

<script>
	import Navbar from "./components/Navbar";
	import Login from "./components/Login";
	export default {
		name: "App",
		components: {
			Navbar,
			Login,
		},
		data() {
			return {
				logged_in_user: false,
			};
		},
		methods: {
			loginUser(user) {
				window.localStorage.setItem("user", user.id);
				this.logged_in_user = true;
				if (this.$refs.childComponent.fetchMovies)
					this.$refs.childComponent.fetchMovies();
			},
		},
	};
</script>

<style>
	:root {
		font-size: 16px;
		font-family: "Montserrat";
		--text-primary: #d4d4d4;
		--text-secondary: #e2e2e2;
		--accent: #8bc7ff;
		--bg-primary: #363636;
		--bg-secondary: #292929;
	}
	body {
		background-color: var(--bg-secondary);
		color: var(--text-primary);
		margin: 0px;
		padding: 0px;
	}
	@media only screen and (min-width: 600px) {
		#app {
			margin-left: 6rem;
			padding: 2rem;
		}
	}
	@media only screen and (max-width: 600px) {
		#app {
			margin-bottom: 8rem;
			padding: 2rem;
		}
	}
</style>
